version: "3.9"
services:
  bit-monitoring-migrations:
    build: .
    depends_on:
      - postgres

  postgres:
    restart: always
    image: "postgres:12.9"
    ports:
      - 5432:5432
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bit-monitoring
